<html>
    <center>
        <h1>Set parameters to HoloClean</h1>
        <div class="container">
            <form id="paramform">
                <label for="pruning_threshold1">pruning_threshold1</label>
                <input class='holoparam' id='pruning_threshold1' name='pruning_threshold1' value=0 type="number" > <br>
                <label for="pruning_clean_breakoff">pruning_clean_breakoff</label>
                <input class='holoparam' id='pruning_clean_breakoff' name="pruning_clean_breakoff" value=6 type="number" > <br>
                <label for="pruning_threshold2">pruning_threshold2</label>
                <input class='holoparam' id='pruning_threshold2' name="pruning_threshold2" value=0 type="number" > <br>
                <label for="pruning_dk_breakoff">pruning_dk_breakoff</label>
                <input class='holoparam' id='pruning_dk_breakoff' name="pruning_dk_breakoff" value=6 type="number" > <br>
                <label for="learning_iterations">learning_iterations</label>
                <input class='holoparam' id='learning_iterations' name="learning_iterations" value=30 type="number" > <br>
                <label for="learning_rate">learning_rate</label>
                <input class='holoparam' id='learning_rate' name="learning_rate" value=0.001 type="number" > <br>
                <label for="batch_size">batch_size</label>
                <input class='holoparam' id='batch_size' name="batch_size" value=5 type="number" ><br>
                <label for="k_inferred">k_inferred</label>
                <input class='holoparam' id='k_inferred' name="k_inferred" value=2 type="number" ><br>
            </form>
            <button id='submitparam' type="submit"> Submit </button>
        </div>
        <div class="container">
           <h1>Input filepath of dataset and denial constraints to HoloClean</h1>
           <label for="filepath"> Relative filepath of dataset </label>
           <input id='filepath' type="text" value="../tests/data/hospital.csv" > <br>
           <label for="dcpath"> Relative filepath of denial constraints </label>
           <input id='dcpath' type="text" value="../tests/data/hospital_constraints.txt"> <br>
           <button id='submitpath' type="submit"> Submit! </button>
        </div>
        <div>
            <h1>Choose error detectors to use</h1>
            <form>
                <input type="checkbox" name="Null Error Detector" id="nullerrordetector" checked> Null Error Detector<br>
                <input type="checkbox" name="DC Error Detector" id="dcerrordetector" checked> DC Error Detector<br>
            </form>
            <input type="submit" id="submiterrordetectors" value="Submit">
        </div>
        <div>
            <!--<form>-->
                <input type="submit" id="repair" value="Repair">
            <!--</form>-->
        </div>
    </center>
</html>

<link rel="stylesheet" type = 'text/css' href="{{ url_for('static', filename='css/style.css') }}">
<script src='static/js/jquery-3.3.1.min.js' ></script>
<script src='static/js/holoclean.flaskapp.js'></script>